*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none ;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background-color:rgba(71, 43, 101, 0.903) ;
    height: 60px;
    width: 100%;
}
.logo{
    margin-top: 10px;
    width: 80px;
    padding: 0,100px;
    height: 53px;
}
nav ul{
    float: right;
    padding: 20px 0;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-break: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px  13px;
    text-transform: uppercase;
}
a.active{
    background: rgb(191, 133, 85);
    transform: .5s;
}
a:hover{
    background: black;
    transition: .7s;
    color: white;
}