@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: lavender;
    
}

html,
body {
    background-color: black;
    width: 100%;
}

.cont span {
    /* padding-top: 70px; */
    font-size: 30px;
    color: lavenderblush;
}

.cont span:hover {
    color: rgb(19, 110, 175);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.cont h3 {
    padding-top: 20px;
    color: lavenderblush;
}

.cont h3:hover {
    color: rgb(19, 110, 175);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.e {
    font-size: 22px;
    font-family: monospace;
    width: 600px;
}

.cont {
    width: 700px;
    margin: 30px 0 0 60px;
    font-size: 15px;
}

.cont p {
    padding-top: 18px;
    color: lavenderblush;
}

.cont p:hover {
    color: rgb(19, 110, 175);
    transform: scaleY(1.2);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.box {
    padding: 20px;
}

.box h2 {
    padding-left: 80px;
    color: lavenderblush;
}

.img-box {
    display: flex;
    /* justify-content:space-between; */
    margin: 0 80px;
    gap: 50px;
    padding-top: 20px;
}

.select {
    padding: 50px;
    display: flex;
}

.utf {
    margin-left: 14px;
}

.utf select {
    color: rgb(0, 0, 0);
    /* display: block; */
    appearance: none;
    padding: 0.5rem;
    padding-inline-start: 1.50rem;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgb(244, 244, 244);
    border-radius: 60px;
    font-family: 'Courier New', Courier, monospace;
    /* outline: 0;  */
    /* box-shadow: none; */
    /* transition: background-color .2s; */
}

option {
    font-family: monospace;
    color: rgb(90, 89, 89);
}

hr {
    color: rgb(0, 0, 0);
}

/* .items{
    position: absolute;
} */
.chair {

    padding: 50px;
    display: flex;
    margin-left: 14px;
    width: 100%;
    overflow: auto;
}

.chair .chair1 {
    height: 400px;
    width: 400px;
    background: url("img/gamin-furniture/tb1.avif") no-repeat;
}

.chair .chair1:hover {
    height: 400px;
    width: 400px;
    background: url("img/gamin-furniture/tb2.avif") no-repeat;
    transform: scaleY(1.2);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.chair .chair2 {
    height: 400px;
    width: 400px;
    background: url("img/gamin-furniture/table-top1.png") no-repeat;
}

.chair .chair2:hover {
    height: 400px;
    width: 400px;
    background: url("img/gamin-furniture/table-top.png") no-repeat;
    transform: scaleY(1.2);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.chair .chair3 {
    height: 400px;
    width: 400px;
    background: url("img/gamin-furniture/table-top1.png") no-repeat;
}

.chair .chair3:hover {
    height: 400px;
    width: 400px;
    background: url("img/gamin-furniture/table-top.png") no-repeat;
    transform: scaleY(1.2);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.chair .chair4 {
    height: 400px;
    width: 400px;
    background: url("img/gamin-furniture/dsk-gmg1.png") no-repeat;
}

.chair4:hover {
    height: 400px;
    width: 400px;
    background: url("img/gamin-furniture/dsk-gmg.png") no-repeat;
    transform: scaleY(1.2);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.price {
    padding: 15px;
    display: flex;
    /* margin-left: 110px; */
    overflow: auto;
}

.price h3 {
    padding-left:60px ;
    /* margin:0 195px 0 0px ; */
    color: lavenderblush;
    width: 400px;
    font-size: 19px;
    line-height: 1.571;
    font-weight: 500;
    letter-spacing: 0;
}

.price h3:hover {
    color: rgb(19, 110, 175);
    transform: scaleY(1.2);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.price h4 {
    padding-left: 60px;
    color: lavenderblush;
    margin: 0 194px 0 0;
}

.price h4:hover {
    color: rgb(19, 110, 175);
    transform: scaleY(1.2);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.category {
    padding-top: 100px;
    padding-left: 60px;
}

.cont span {
    /* padding-top: 70px; */
    font-size: 30px;
    color: lavenderblush;
}

.category span:hover {
    color: rgb(19, 110, 175);
    transform: scale(1.1);
    transition: 1.5s ease;
}

.src:hover {
    transform: scale(1.3);
    color: rgb(19, 110, 175);
}

.src {
    margin: 0px;
    /* padding-left: 60px ; */
    padding-right: 0 px;
    text-decoration: none;
    width: 150px;
    color: lavender;
    transition: all 1.5s ease;
}

.img-bx {
    display: flex;
    /* justify-content:space-between; */
    gap: 50px;
    padding-top: 20px;
}

.write {
    padding-top: 130px;
    padding-left: 60px;
    width: 900px;
}

.write h3 {
    color: lavenderblush;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
}

.write h3:hover {
    /* transform: scale(1.3); */
    transition: 1.5s ease;
    color: rgb(19, 110, 175);
}

.write p {
    font-size: 1.2rem;
    word-spacing: 4px;
    padding-top: 10px;
}

.write p:hover {
    color: rgb(132, 182, 239);
    transition: 1.5 ease-out;
}
.write a:hover{
    color: rgb(132, 182, 239);
    transition: 1.5 ease-out;
}
.about{
    padding-top: 3.2rem;
    width: 100%;
}