* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #2F2F2F;
}

.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.bg-img {
    width: 100%;
}

.des-img {
    top: -92px;
    right: 82px;
}

.des-img img {
    width: 100%;
}

nav {
    top: 30px;
    left: 39px;
}

nav ul {
    float: right;
    /* margin-right: 65px; */
    padding: 20px 0;
    margin-left: 210px;
}

nav ul li {
    display: inline-block;
    line-break: 80px;
    margin: 0 5px;
}

nav ul li a {
    letter-spacing: 2px;
    color: aliceblue;
    font-size: 17px;
    padding: 7px 28px;
    text-transform: uppercase;
}

a.active {
    background: darkblue;
    transition: .5s;
}

a:hover {
    background: wheat;
    transition: .5s;
    color: black;
}