.button {
    background-color: hsl(12, 75%, 78%);
    color: black;
    border: none;
    text-align: center;
    padding: 10px 150px;
    margin: 20px 450px;
    font-size: 110%;
    font-style: oblique;
  }
  .rounded-corners {
    border-radius: 20px;
  }
  p{
    text-align: center;
    padding: 10px 150px;
    margin: 20px 400px;
    font-size: 110%;
    font-style: oblique;
  }