body {
    width: 100px;
    display: grid;
    place-items: center;
    user-select: none; 
  }
  
  .wrapper {
    position: relative;
    border: 5px solid black;
    height: 3rem;
    width: 7rem;
    display: flex;
    border-radius: 10em;
    background-color: white;
  }
  
  input[type="checkbox"].toggle {
    position: absolute;
    top: -10000px;
    left: -10000px;
  }
  
  input[type="checkbox"].toggle + label {
  /*   border: 2px solid blue; */
    cursor: pointer;
    width: 50px;
    height: auto;
    border-radius: 10em;
    
  }
  
  input[type="checkbox"].toggle:checked + label {
    color: red;
  }
  
  .circle {
    position: absolute;
    border: 2.5px solid black;
    height: 2.5rem;
    width: 2.5rem;
    background-color: black;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="checkbox"].toggle:checked ~ .label .circle {
    transform: translateX(3.9rem);
    border: 2.5px solid black;
    background-color:lavenderblush ;
  }
  
  .fa-moon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: black;
  }
  
  .sun {
    height: 2.1rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: black;
  }